[SddmGreeterTheme]
Name=Ashen
Description=Ashen Ghost minimalist theme for SDDM
Author=Adolfo Lecompte
Copyright=2026
License=MIT
Type=sddm-theme
Version=1.0
Website=https://github.com/AdolfoLecompteDev/ashen
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Qt6=true
